
@import 'variables';


@mixin mobile {
  @media (max-width: #{$mobile}) {
    @content;
  }
}


@mixin container {
  max-width: $container;
  margin: 0 auto;
  padding: 0 $space * 3;

  @include mobile {
    padding: 0 $space * 2;
  }
}