.work-page-section {
  padding: 80px 0; 
  .container {
    max-width: 1152px;
    margin: 0 auto;
    padding: 0 24px; 
    
    @media (max-width: 768px) {
      padding: 0 16px;
    }
  }
}

.section-title {
  margin-bottom: 40px; 
  font-weight: 100px;
 


}
