.main {
  display: flex;
  gap: 1rem;
  justify-content: left;
  //margin: 0rem 14rem 1rem;
  
  padding-bottom: 1rem;
  border-bottom: 2px solid var(--light);
  cursor: pointer;
  transition: opacity 0.2s ease;
  
  &:hover {
    opacity: 0.8;
  }
  
  width:1152 px;
  .title {
    font-weight: bold;
    color: var(--dark);
    margin-top: 0;
  }
  .tag {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    .date {
      color: var(--white);
      background-color: var(--dark);
      font-weight: bold;
      padding: 0.25rem 0.5rem;
      border-radius: 1rem;
    }
    .date,
    .detail-text {
      margin: 0;
    }
  }
}